bootstrap.servers=<eventhub>.servicebus.windows.net:9093
client.id=<consumer>
transaction.timeout.ms=700000
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
username="$ConnectionString" \
password="Endpoint=sb://<eventhub>.servicebus.windows.net/;SharedAccessKeyName=<policy〉;SharedAccessKey=<access_key>";
